---
- name: Get corda jars from local file
  copy:
    src: "{{ corda_local_path }}/{{ item }}"
    dest: "{{ corda_dir_location }}"
    owner: "{{ corda_user }}"
    group: "{{ corda_user }}"
    mode: 0755
  loop:
    - corda.jar
  notify:
    - start corda

