[Unit]
Description=Simple webserver for Corda
Requires=network.target

[Service]
Type=simple
User={{ corda_user }}
WorkingDirectory={{ corda_dir_location }}
ExecStart=/usr/bin/java -jar {{ corda_dir_location }}/corda-webserver.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
