p2pAddress = "{{ corda_host_p2p }}:{{ corda_port_p2p }}"
myLegalName = "O={{ corda_name_org }}, L={{ corda_name_city }}, C={{ corda_name_country }}"
emailAddress = "{{ corda_admin_email }}"


keyStorePassword = {{ corda_password_keystore }}
trustStorePassword = {{ corda_password_truststore }}

dataSourceProperties {
    dataSourceClassName = org.h2.jdbcx.JdbcDataSource
    dataSource.url = "jdbc:h2:file:"${baseDirectory}"/persistence"
    dataSource.user = sa
    dataSource.password = ""
}

devMode = {{ corda_devmode }}

{% if corda_rpc == "enable" or corda_version >= 4.0 %}
rpcSettings {
    useSsl = false
    standAloneBroker = false
    address  = "{{ corda_host_rpc }}:{{ corda_port_rpc }}"
    adminAddress = "{{ corda_host_rpc }}:{{ corda_port_rpc_admin }}"
}
rpcUsers = [
  {
    user={{ corda_rpc_user }}
    password={{ corda_rpc_password }}
    permissions=[
      ALL
    ]
  }
]
{% endif %}

{% if corda_role == "notary" %}
	{% if corda_notary_type == "validating" %}
notary  { validating = true }
	{% elif corda_notary_type == "non_validating" %}
notary  { validating = false }
	{% endif %}
{% endif %}

{% if not corda_devmode | bool %}
networkServices {
  doormanURL = "{{ corda_url_doorman }}"
  networkMapURL = "{{ corda_url_networkmap }}"
}
{% endif %}
