basedir : "{{ corda_dir_location }}"
p2pAddress : "{{ corda_host_p2p }}:{{ corda_port_p2p }}"
webAddress : "0.0.0.0:{{ corda_port_web }}"
h2port : {{ corda_port_h2 }}
emailAddress : "{{ corda_admin_email }}"
myLegalName : "O={{ corda_org }}, L={{ corda_city }}, C={{ corda_country }}"

keyStorePassword : "cordacadevpass"
trustStorePassword : "trustpass"

dataSourceProperties : {
    dataSourceClassName : org.h2.jdbcx.JdbcDataSource
    "dataSource.url" : "jdbc:h2:file:"${baseDirectory}"/persistence"
    "dataSource.user" : sa
    "dataSource.password" : ""
}

{% if corda_role == "notary" %}
{% if corda_notary_type == "validating" %}
notary : { validating : true }
{% elif corda_notary_type == "non_validating" %}
notary : { validating : false }
{% endif %}
{% else %}
extraAdvertisedServiceIds: [ "" ]
{% endif %}

useHTTPS : false
devMode : {{ corda_devmode }}

{% if corda_rpc == "enable" %}
rpcSettings = {
    useSsl = false
    standAloneBroker = false
    address : "{{ corda_host_rpc }}:{{ corda_port_rpc }}"
    adminAddress : "{{ corda_host_rpc }}:{{ corda_port_rpc_admin }}"
}
rpcUsers=[
  {
    user={{ corda_portal_user }}
    password={{ corda_portal_password }}
    permissions=[
      ALL
    ]
  }
]
{% endif %}

{% if not corda_devmode | bool %}
certificateSigningService="{{ corda_doorman_url }}"
{% endif %}
